.style{
  /* background-image: url('carpenter22.jpg'); */
}

.container{
   margin: 50px;
   shape-margin: circle;
   border:10px solid black !important;
 /* background-image: url('carpenter.jpg'); */
   font-family: 'Kaushan Script', cursive;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: grey;
   
    }

.input{
  border:1px solid black !important; 
  border-radius: 20px;

 }

 
